
    /*
    https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd
    Mörkast blå #0D1B2A;
    Litemörkare mörkblå #1B263B;
    "Vanlig" blå #1415A77;
    Ljusblå #778DA9;
    Vit #E0E1DD;
    */

.root {
-fx-background-color: #E0E1DD;
}

.Header {
    -fx-background-color: #778DA9;
}

.Header Label{
    -fx-font-size: 40;
}

.Header Button{
    -fx-font-size: 20;
    -fx-background-color: #415A77;
    -fx-text-fill: #E0E1DD;
}

HBox{
    -fx-background-color: #E0E1DD;
}
